.footer_1{
    padding: 5px;
    background-color: gray;
    position: fixed;
    bottom: 0%;
    width:100%;
    display: flex;

}

.btn-btn-success1{
    position: relative;
    background: gray;
    width: auto;   
    left: -10%; 
    bottom: -4px;
    border:gray;
    justify-content: flex-start;
    }

.btn-btn-success2{
    position: relative;
    background: gray;
    width: auto;   
    left: 0%; 
    bottom: -4px;
    border:gray; 
}

.btn-btn-success3{
    position: relative;
    width: auto;   
    left: 10%; 
    bottom: 3px;
    border:gray;
}

.Footer__logo2{
   height: 50px;
   background: gray;
   
}

.Footer__logo1{
    height: 50px;
    background: gray;
    
}

.Footer__logo3{
    height: 35px;
    background: gray;
}