.uno { 
    position: relative;
    height: 450px;
    width: 650px;
    background-color: white;
    left: 5%;
    top: 50px;
    box-sizing: border-box;
}
.dos { 
    position: absolute;
    height: 450px;
    width: 430px;
    background-color:white;
    left: 60%;
    top: 110px;
    box-sizing: border-box;
    border: #bfbfbf;
    border-style: groove;
    
}
.card-body2{
    position: relative;
    width: 380px;
    left: 3rem;
    top: 7rem;
}
.edit-1{
    position: relative;
    left: 40%;
    top: 35rem;
    padding: 1rem;
    font-size: 15px;
    width: 10rem;
}  
.Descripcion{
    position: relative;
    bottom: 30px;
    color: black;
    font: bold;
    border-style: groove;
    border: #bfbfbf;
} 