.cardtres{ 
    position: absolute;
    left: 20rem;;
}
.dias{
    position: relative;
    top:100px;
}
.btn-Confirmar{
    position: absolute;
    background: black;
    color: white;
    left: 0rem;
    top: 40rem;
}
