.inicio { 
    position: relative;
    height: 510px;
    width: 440px;
    top: 10px;
    background-color: white;
    box-sizing: border-box;
    border: #bfbfbf;
    border-style: groove;

}
.registro { 
    position: relative;
    height: 510px;
    width: 440px;
    top: 10px;
    background-color: white;
    box-sizing: border-box;
    border: #bfbfbf;
    border-style: groove;

}
.registroinicio{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.form-group1{
    position: absolute;
    height: 100px;
    width: 250px;
    left: 21%;
    top: 25%;

}
.form-group2{
    position: absolute;
    height: 100px;
    width: 250px;
    left: 21%;
    top: 35%;

}
.form-group3{
    position: absolute;
    height: 100px;
    width: 250px;
    left: 21%;
    top: 45%;

}
.form-group4{
    position: absolute;
    height: 100px;
    width: 250px;
    left: 21%;
    top: 55%;

}
.form-group5{
    position: absolute;
    height: 100px;
    width: 250px;
    left: 21%;
    top: 65%;

}
.form-group6{
    position: absolute;
    height: 100px;
    width: 250px;
    left: 21%;
    top: 75%;

}
.form-group7{
    position: absolute;
    height: 100px;
    width: 250px;
    left: 21%;
    top: 40%;

}
.form-group8{
    position: absolute;
    height: 100px;
    width: 250px;
    left: 21%;
    top: 50%;

}
.letrero2{
    position: relative;
    left: 3%;
    color: rgb(0, 0, 0);
    font-weight:bold;
}
.btn-primary2{
    position: relative;
    color:white;
    background:gray;
    height: 35px;
    width: 250px;   
    left: 91px; 
    top: 350px;;
}
.btn-primary3{
    position: relative;
    color:white;
    background:gray;
    height: 35px;
    width: 250px;   
    left: 91px; 
    top: 380px
}